/* Remove default spacing */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


/* HEADER */
.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background: #1a73e8;
  color: white;
}

.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
}


/* HERO SECTION */
.hero {
  height: 70vh;
  background: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: #1a73e8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


/* FOOTER */
.footer {
  background: #1a73e8;
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.footer .social a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}